<h1><%= @cardword.word%> </h1>

<p> 
  <%= @cardword.description%>
  <%= @cardword.response %>
  <%= @cardword.group %>
  <%= @cardword.incorrect_group %>
  <%= @cardword.date_change_group%>
  <%= @cardword.hard_word %>
</p>