<div class="container-sm">

<div class="card text-center">
  <div class="card-header">
    Карточки
  </div>
  <div class="card-body">
    <h5 class="card-title">
        <%= @cardwords.word%> 
    </h5>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
    
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
       Перевод
       
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <li>Id: <%= @cardwords.id%></li>
       <li>Перевод: <%= @cardwords.description%></li>
       <li>Правильные ответы: <%= @cardwords.response %></li>
       <li>Уровень сложности: <%= @cardwords.group %></li>
       <li>Время: <%= @cardwords.date_change_group%></li>
       <li>Сложное слово: <%= @cardwords.hard_word %></li>
       <li>Неверные ответы:<%= @cardwords.bad_response %></li>
        <p>
         <%= link_to 'Верно',good_response_cardword_path(@cardwords) ,class: "btn btn-success" %>
         <%= link_to 'Не верно',bad_response_cardword_path(@cardwords) ,class: "btn btn-danger" %>
        </p>
        </div>
    </div>
  </div>
</div>



  </div>
  <div class="card-footer text-muted">
    время 
  </div>
</div>
</div>
  
