<!DOCTYPE html>
<html>
  <head>
    <title>Word</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
<div class="container">
  <!-- Content here -->

  <body>
    <%= render 'layouts/nav'%>
    <nav>
      
       <%# <%= link_to 'new', new_cardword_path, class: "btn btn-primary"  %> 
       <%# <%=  link_to 'Home', root_path, class: "btn btn-primary" %>
       <%# <%=  link_to 'CardWord', cardwords_path, class: "btn btn-primary" %> 
      
    </nav>
    <main>
  
  <%= yield %>
  </main>
  </body>
</html>

</div>
